sudo: false

language: scala
jdk:
  - oraclejdk8
scala:
  - 2.12.8
  - 2.11.12
  - 2.13.0-M5

env:
  - SBT_TASK=core/test
  - SBT_TASK=docs/tut

matrix:
  include:
  - scala: 2.12.8
    env: SBT_TASK=core/test
    jdk: openjdk11

script:
  - sbt ++$TRAVIS_SCALA_VERSION $SBT_TASK

  # Tricks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" -delete
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
