sudo: false

language: scala
jdk:
  - oraclejdk8
scala:
  - 2.11.8
  - 2.12.0-M4

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot

env:
  - SBT_TASK=test
  - SBT_TASK=bench/jmh:run
  - SBT_TASK=docs/tut

script:
  - sbt ++$TRAVIS_SCALA_VERSION $SBT_TASK

  # Tricks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" -delete
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
